.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%; /* You can change this value based on your needs */
  padding: 2rem 50px; /* This should match the width of your SVG */
}

.top-1of3 {
  order: 2; /* was 1 */
  flex: 1;
  text-align: center;
}

.top-2of3 {
  order: 1; /* was 2 */
  width: 50px;
}

.top-2of3 svg {
  width: 50px;
  height: 50px;
}

.top-3of3 {
  order: 3;
  width: 65px;
}

#fixed-width{
	width: 50px;
}

#fixed-width svg {
	width: 50px;
	height: 50px;
}

#empty-space{
  background: transparent;
}


#flexible-width{
	flex: 1;
}

#background-image{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh; /* Full height of the viewport */
	width: 100vw; /* Full width of the viewport */
}



/*--------------------------- Media Querires ---------------------------*/

/*@media screen and (max-width:60rem){

}*/

@media(max-width:60rem){
	.seat_sections{
		top: 41%;
	}

	.seat_sections a{
		font-size: 5vw;
		margin-bottom: 11vh;
	}

	h1, h2, h3{
		font-size: 2.5vw;
	}

	h2, h3{
		text-align: center;
	}

	ul{
		list-style: none;
		position: relative;
		right: 6vw;
		text-align: center;
		font-size: 3vw;
		font-weight: bold;
	}

	img{
		top: 35%; 
	}

	.redirecting_exit{
		position: absolute;
		top: 80%;
		left: 0;
		margin: 0;
		padding: 0.5vh;
		font-size: 2vw;

		width: 100%;
		height: 100%;
		background-color: #212343;
		/* Set the z-index to a value higher than the background image to ensure that it appears on top */

	}

	.base-timer__label, .base-timer{
		font-size: 3vw;
	}

	.top{
		padding: 2vw;
	}
}

@media(max-height:30rem){
	.seat_sections a{
		font-size: 2vw;
		margin: 2vw;
	}
}